@import 'src';

.card {
  max-width: 480px;

  margin: 0 auto 1rem auto;
  padding: 1.5rem;

  background-color: white;
  border-radius: 0.5rem;
}

.word {
  display: inline;

  font-size: 1.6rem;
  text-transform: capitalize;
  text-indent: 2rem;
}

.phonetic {
  display: inline;

  font-size: 1.6rem;
  padding-left: 2rem;
}

@media (max-width: $size-mobile) {
  .card {
    max-width: 300px;
    padding: 1rem;
  }
}

