@import 'src';

.listItem {
  border-bottom: 1px solid grey;
}

.partOfSpeech {
  display: inline;
  margin: 0.2em 0;

  font-size: 1rem;
  font-style: italic;
}

.count {
  display: inline-block;
  color: $color-text-medium;
}