.result {
  width: 480px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
}

.green {
  font-weight: bold;
  color:green;
}

.link {
  color: black;
  text-decoration: underline;
}

.red {
  font-weight: bold;
  color: red;
}