@import 'src';

.result {
  box-sizing: border-box;
  width: 480px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: $color-background-light;

  border-radius: 0.5rem;
}

.green {
  font-weight: bold;
  color: $color-text-green;
}

.link {
  color: $color-text-dark;
  text-decoration: underline;

  &:visited {
    color: $color-text-medium; 
  }

  &:active {
    color: $color-text-emphasize;
  }
}

.red {
  font-weight: bold;
  color: $color-text-red;
}

@media (max-width: $size-tablet) {
  .result {
    max-width: 300px;
  }

  .link, .green, .notFound {
    font-size: 1.4rem;
  }
}