@import 'src';

.form {
  width: max-content;
  margin: 1rem auto;
}

.input {
  height: 2.5rem;  
  text-indent: 1rem;

  color: $color-background-dark;
  font-size: 1.4rem;
  font-weight: bold;

  border: 2px solid $color-background-dark;
  border-radius: 0.5rem;

  outline: none;
}

.submit {
  @include button;
  font-size: 1.4rem;

  border-radius: 0.5rem;
}

@media (max-width: $size-tablet) {
  .input {
    width: 200px;
  }
}