@import 'src';

.error {
  color: $color-text-dark;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;

  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.notFound {
  width: 480px;
  box-sizing: content-box;

  margin: 1rem auto;
  padding: 1rem;

  font-weight: bold;
  color: darkred;
  background-color: $color-background-light;

  word-wrap: normal;
  border-radius: 0.5rem;
}

@media (max-width: $size-tablet) {
  .notFound {
    max-width: 300px;
  }
}

