@mixin background-polka-dot {
  background: $color-background-dark;
  background-image: radial-gradient($color-background-light 30%, transparent 0),
                    radial-gradient($color-background-light 30%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
