@import 'src';

.form {
  margin: 1rem auto;
}

.textarea {
  display: block;

  margin: 0 auto;
  padding: 0.4rem;
  text-indent: 1rem;

  color: $color-background-dark;
  font-size: 1.4rem;
  font-weight: bold;

  border: 2px solid $color-background-dark;
  border-radius: 0.5rem;

  outline: none;
}

.submit {
  display: block;

  margin: 1rem auto 0 auto;
  @include button;
  font-size: 1.4rem;

  border-radius: 0.5rem;
}

@media (max-width: $size-tablet) {
  .textarea {
    width: 300px;
  }
}