@import 'src';

.p {
  width: max-content;

  margin: 0 auto;
  padding: 0.5rem 2rem;

  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  word-wrap: normal;
  text-transform: uppercase;

  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.error {
  color: $color-text-dark;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;

  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: $size-tablet) {
  .p {
    width: 200px;
  }
}

