@import 'src';

.link {
  padding: 0.5em 1em;

  text-transform: uppercase;
  color: $color-text-medium;
  font-weight: bold;
  font-size: $header-nav-link-font-size;

  cursor: pointer;


  &:hover {
    color: $color-text-emphasize;
  }
}
